*{
    margin: 0;
    padding :  0;
    box-sizing: border-box;
}
/* 
Color codes
Light Pink #FFF5FD
Dark Pink #FF96AD
Light Blue shade #005A8D
Dark Blue shade #022E57
*/
html{
    font-size: 62.5%;
}
body{
    font-family: 'Poppins', sans-serif;
    color: #FFF5FD;
    background-image: linear-gradient(135deg, #667eea 0%, #764ba2 100%);

    height: 100%;
}
/* width */
::-webkit-scrollbar {
    width: 0.3rem;
  }
  
  /* Track */
  ::-webkit-scrollbar-track {
    box-shadow: inset 0 0 5px rgba(63, 63, 63, 0.89);
    border-radius: 5px;
  }
  
  /* Handle */
  ::-webkit-scrollbar-thumb {
    background-image: linear-gradient( 135deg, #97ABFF 10%, #123597 100%);
    border-radius: 5px;
  }

.dashboard{
    width: 100%;
    min-height: 100%;
}
.navbar-container{
    width: 100%;
    height: 5rem;
    background-image: linear-gradient(135deg, #667eea 100%, #764ba2 0%);
    padding: 1rem 4rem;
    position: fixed;
    display: flex;
    align-items: center;
    justify-content: space-between;
}
.navbar-select{
    display: flex;
    gap: 1rem;
}
.navbar-select select{
    border: 2px #99A799 solid;
    background: none;
    color: #FFF5FD;
    text-transform: uppercase;
}
.navbar-select option{
    border: 2px #FF96AD solid;
    background: transparent;
    color: black;
    text-transform: uppercase;
}

.main-container{
    width: 100%;
    height: auto;
    padding: 2rem 1rem;
}
.card-container{
margin-top: 5rem;
width: 100%;
height: max-content;
padding: 1rem;
display: flex;
flex-wrap: wrap;
justify-content: center;
gap: 1rem;
}

.card{
min-width: 35rem;
width: 30%;
min-height: 12rem;
height:max-content;
max-height: 13.5rem;
background-image: linear-gradient( -30deg, #EE9AE5 10%, #5961F9 100%);
box-shadow: 7px 7px 14px -5px rgba(0,0,0,0.58);
-webkit-box-shadow: 7px 7px 14px -5px rgba(0,0,0,0.58);
-moz-box-shadow: 7px 7px 14px -5px rgba(0,0,0,0.58);
border-radius:10px;
border-bottom-right-radius: 25px;
text-transform: uppercase;
font-weight: 700;
display: flex;
gap: 1rem;
padding: 1rem 1rem 1rem 1rem;
}
.card-img{
    width: 4rem;
    height: 4rem;
    border-radius:50%;
    background-color: #FFF5FD;
    overflow: hidden;
    display: flex;
    align-items: center;
    justify-content: center;
}
.card-img > img{
    height: 70%;
    width: 70%;
}
.card-text{
    width: 100%;
    height: 100%;
    display: flex;
    flex-direction: column;
    align-content: flex-start;
    justify-content: space-between;
    
}
.card-text>h3{
font-weight: 500;
font-size:1.7rem;
color: #FEF5ED;
}
.card-text>p{
    font-weight: 700;
    font-size:1.5rem;
    color: #fff;
}
.card-text-sub{
    width: 80%;
    display: flex;
    justify-content: space-between;
    margin-top: 1rem;
}
.sub>p{
    font-weight: 500;
    font-size:1.5rem;
    color: #fff;
}
.sub>h5{
    font-weight: 400;
    font-size:1.2rem;
    color: #fff;
}
.vaccinationMapContainer{
    width: 100%;
    height: max-content;
    min-height:400px;
    padding: 2rem 1rem 2rem 2rem;
    background-color: rgba(255, 255, 255, 0.863);
    /* background-image: linear-gradient( 135deg, #97ABFF 10%, #123597 100%); */
    box-shadow: 7px 7px 27px -1px rgba(0,0,0,0.71);
    -webkit-box-shadow: 7px 7px 27px -1px rgba(0,0,0,0.71);
    -moz-box-shadow: 7px 7px 27px -1px rgba(0,0,0,0.71);
}
.vaccineMap canvas{
    width:100%!important;
    height:400px!important;
    margin: 5rem auto;
}
.vaccinationMapContainer>h2{
    color: #022E57;
    font-size: 2rem;
    margin-bottom: 0.5rem;
}
.vaccinationMapContainer-btnsgrp{
    display: flex;
    justify-content: space-between;
    flex-wrap: nowrap;
}
.vaccinationMapContainer-btnsgrp button{
    border: 0;
    border-right: 0.2rem solid #005A8D;
    background: none;
    margin-right: 1rem;
    color:#022E57;
    font-weight: 600;
    letter-spacing: 0.1;
    cursor: pointer;
    padding: 0 0.5rem 0 0;
}
.vaccinationMapContainer-btnsgrp label{

    margin-right: 1rem;
    font-size: 1.4rem;
    color:#022E57;
    font-weight: 600;
    letter-spacing: 0.1;
    cursor: pointer;
    padding: 0 0.5rem 0 0;
}
.vaccinationMapContainer-btnsgrp input{
   
  visibility: hidden;
   margin-right: 1rem;
   color:#022E57;
   font-weight: 600;
   letter-spacing: 0.1;
   cursor: pointer;
   padding: 0 0.5rem 0 0;
}

.VaccinationContainer{
    width: 100%;
    padding: 2rem 1rem;
    display: flex;
    justify-content: space-evenly;
    color:#022E57;
    font-weight: 600;
    font-size: 0.9rem;
    gap: 1rem;
}
.VaccinationContainer h2{
    margin-bottom:1rem;
}
.vaccinationCategory{
width: max-content;
height: 50rem;
padding: 2rem 4rem;
background-color: #FFF5FD;
box-shadow: 7px 7px 27px -1px rgba(0,0,0,0.71);
    -webkit-box-shadow: 7px 7px 27px -1px rgba(0,0,0,0.71);
    -moz-box-shadow: 7px 7px 27px -1px rgba(0,0,0,0.71);
}
.vaccinationCategory canvas{
    width:220px!important;
    height:210px!important;
    margin: auto;
}
.vaccinationByAge{
    width: max-content;
    height: 50rem;
    padding: 2rem 4rem;
background-color: #FFF5FD;
box-shadow: 7px 7px 27px -1px rgba(0,0,0,0.71);
    -webkit-box-shadow: 7px 7px 27px -1px rgba(0,0,0,0.71);
    -moz-box-shadow: 7px 7px 27px -1px rgba(0,0,0,0.71);
}
.vaccinationByAge canvas{
    width:300px!important;
    height:300px!important;
    margin: 5rem auto;
}
.vaccinationByState{
width: max-content;
min-width: 40%;
height: 50rem;
padding: 2rem 1rem;
background-color: #FFF5FD;
box-shadow: 7px 7px 27px -1px rgba(0,0,0,0.71);
    -webkit-box-shadow: 7px 7px 27px -1px rgba(0,0,0,0.71);
    -moz-box-shadow: 7px 7px 27px -1px rgba(0,0,0,0.71);
overflow-y: scroll;
}
.vaccinationByState>table{
    width: 100%;
    text-align: left;
}
.vaccinationByState th{
    padding: 0.5rem 0.5rem;
    font-size: 1.2rem;
    font-weight: bold;
    background-color: #D3E4CD;
    ;
}
.vaccinationByState td{
    padding: 0.5rem 0.5rem;
    font-size: 1rem;
    font-weight: 600;
    letter-spacing:0.1rem
}
.aefiRuralUrbanCont{
    width: 100%;
    padding: 2rem 1rem;
    display: flex;
    gap: 1.5rem;
    color:#022E57;
}
.aefiChart{
    width:50%;
    min-width:35rem;
    background-color: #FFF5FD;
    box-shadow: 7px 7px 27px -1px rgba(0,0,0,0.71);
    -webkit-box-shadow: 7px 7px 27px -1px rgba(0,0,0,0.71);
    -moz-box-shadow: 7px 7px 27px -1px rgba(0,0,0,0.71);
}
.aefiChart-txt{
    display: flex;
    justify-content: space-between;
    align-content: center;
    padding: 1rem;
}
.aefiChart-txt>p{
    font-size: 1.4rem;
    font-weight: 600;
}
.aefiChart-chart{
    padding: 0.5rem;
    
}
.ruralUrbanChart{
    width: 50%;
    min-width:35rem;
    background-color: #FFF5FD;
    box-shadow: 7px 7px 27px -1px rgba(0,0,0,0.71);
    -webkit-box-shadow: 7px 7px 27px -1px rgba(0,0,0,0.71);
    -moz-box-shadow: 7px 7px 27px -1px rgba(0,0,0,0.71);
    padding: 1rem;
}
.ruralUrbanChart>h2{
    margin-left: 1.5rem;
    margin-bottom: 2rem;
}
.vacinationCoverage{
    width: 100%;
    height: 50rem;
    background-color: #FFF5FD;
    
    box-shadow: 7px 7px 27px -1px rgba(0,0,0,0.71);
    -webkit-box-shadow: 7px 7px 27px -1px rgba(0,0,0,0.71);
    -moz-box-shadow: 7px 7px 27px -1px rgba(0,0,0,0.71);
    color:#022E57;
    padding: 2rem;
    margin-bottom: 2rem;
    
}
.vaccinationCovrgChart>h2{
    font-weight: bolder;
    font-size: 1.9rem;
}
.chartBar{
    height:40rem!important;
}

.footer{
    width: 100%;
    height: 5rem;
    background-image: linear-gradient( -90deg, #EE9AE5 10%, #5961F9 100%);
    color: #FEF5ED;
    text-align: center;
    padding: 1rem 4rem 1rem 4rem;
}
